# Database (MySQL)
DATABASE_URL="mysql://root:your_password@localhost:3306/image_gallery_db"


ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Server
PORT=3069
NODE_ENV="development"

# File Uploads
UPLOAD_PATH="./uploads"
MAX_FILE_SIZE=5000000

# CORS
CORS_ORIGIN="http://localhost:5173"
